@import "reset.css";

#pageWrap {
	display:grid;
	grid-template-columns:10% 1fr 1fr 1fr 1fr 10%;
	grid-template-areas:
	". logo . nav nav nav"
	". header header header header ."
	". section section section aside ."
	"footer footer footer footer footer footer";
	grid-gap:2%;
}

@media screen and (max-width: 690px){
	#pageWrap {
		grid-template-columns:5% 1fr 1fr 5%;
		grid-template-areas:
		". header header ."
		". logo nav ."
		". section section ."
		". aside aside ."
		". footer footer .";
	}
}

#pageWrap header 					{
	height:200px;
	background-color:red;
	grid-area:header;
}

#pageWrap #logo  					{
	width:100%;
	align-self:center;
	background-color:green;
	grid-area:logo;
}

#pageWrap nav   					{
	height:200px;
	background-color:blue;
	grid-area:nav;
}

#pageWrap section   			{
	height:200px;
	background-color:orange;
	grid-area:section;
}

#pageWrap aside   				{
	align-self:center;
	padding:40px;
	background-color:grey;
	grid-area:aside;
}

#pageWrap footer   				{
	height:200px;
	background-color:yellow;
	grid-area:footer;
}
